@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;

}
.container {
    background-image: url("https://www.santander.com.ar/banco/wcm/connect/0f25277b-d7b9-43d6-9be7-947ddcb586c1/grid-background.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-0f25277b-d7b9-43d6-9be7-947ddcb586c1-n8KKKcu");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    width: 100vw;
    height: 100vh;
    padding-left: 70px;
    padding-right:70px;
    padding-top: 50px;
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.spacebetweer {
    justify-content: space-around;
    
}
.boton {
    background-color: white;
    color: rgba(0, 0, 0, 0.685);
    border-radius: 22px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    box-shadow: 0px 18px 31px 2px rgba(179,177,179,0.5);
    margin-left: 15px;
    margin-right: 15px;
    
}
.fuente {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
.fuente-h1 {
    font-weight: 300;
}
.fuente-boton {
    font-weight: 700;
    font-size: medium;
}
.boton:hover {
    background-color: #ec0000;
    color: white;
    transition: 0.4;
}

hr {
    border: 1px solid lightgray;
}
.margen-izquierdo-15 {
    margin-left: 15px;
}
.margen-superior-20 {
    margin-top: 20px;
}
.card {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
    width: 15vw;
    height: 170px;
}

.columna {
    display: flex;
    flex-direction: column;
    
}
.card-sorpresa {
    height: 370px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
    width: 269px;
}
.align-left {
    text-align: left;
}

.texto-cards {
    font-size: 19px;
    font-weight: 400;
}

.margen-superior-15 {
    margin-top: 10px;
}
.margen-derecho-20 {
    margin-right: 20px;
}
.fuente-footer {
    font-size: 12px;
    text-decoration: none;
    color:#181818 ;
}
.fuente-footer:hover {
    color:#ec0000;
    transition: 0.8;
}
.margen-superior-30 {
    margin-top: 30px;
}
.margen-izquierdo-20 {
    margin-left: 20px;
}

.porcentaje {
    font-size: 80px;
}

.shadow {
    box-shadow: 10px 10px 5px 2px rgba(97,97,97,0.05);
}
